@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var currentPage = CurrentPage;
}
<div id="layertop"></div>
<div class="section controls" style="">
    <div class="sectionTitle"><h2 class="sectionHead">@currentPage.pagetitle</h2></div>
    <div class="container">
        <div class="row">
            @{

                var services = Umbraco.Content(1072);
            }
            @if (services.Children.Any())
            {
                int c = 0;
                <form class="controls" id="Filters">
                    <fieldset>
                        @foreach (var pr in services.Children)
                        {
                            if (!pr.excludeFromFilter)
                            {
                                string service = pr.id.ToString();

                                <div class="col-md-4 col-sm-4 col-xs-6">
                                    <input type="checkbox" name="@service" id="@service" class="css-checkbox" />
                                    <label for=@service class="css-label">@pr.displayName</label>
                                </div>
                                c++;
                            }
                        }
                    </fieldset>
                </form>
            }
        </div>
    </div>
</div>
<div class="mg-space-init">
    <br>
    <ul id="projectsFilter" class="mg-rows container">
        @{
            var projects = Umbraco.Content(1156);
            if (projects.Children.Any())
            {

                foreach (var p in projects.Children.Where("Visible"))
                {

                    string[] ids = p.relatedServices.Split(',');
                    string sclass = string.Empty;

                    sclass = String.Join(" ", ids.Select(s => RemoveSpecialChar(s)).ToArray());

                    <li data-category="@sclass" class="col-md-4">
                        <a href="#" title="MG Row" class="mg-trigger">
                            @if (!string.IsNullOrEmpty(p.projectLogo.ToString()))
                            {
                                <img class="img-responsive" src="@Umbraco.Media(p.projectLogo).Url" alt="">
                            }
                            else
                            {
                                <img class="img-responsive" src="/media/1268/blanknews.jpg" alt="">
                            }
                            <h3>@p.projectName</h3>
                        </a>
                    </li>



                }

            }



        }
    </ul>
    <div class="mg-targets row projectspop">
        @{
            var projectsa = Umbraco.Content(1156);
            if (projectsa.Children.Any())
            {

                foreach (var p in projectsa.Children)
                {

                    string[] ids = p.relatedServices.Split(',');
                    string sclass = string.Empty;

                    sclass = String.Join(" ", ids.Select(s => RemoveSpecialChar(s)).ToArray());





                    <div class="">
                        <div class="container">
                            <div class="row-flex container">
                                <div class="demo-item col-md-5">
                                    @if (!string.IsNullOrEmpty(p.largeimage.ToString()))
                                    {
                                        <img class="img-responsive" src="@Umbraco.Media(p.largeimage).Url" alt="">
                                    }
                                    else
                                    {
                                        <img class="img-responsive" src="/media/1268/blanknews.jpg" alt="">
                                    }
                                </div>
                                <div class="col-md-6 demo-item pop_des">
                                    <h3>@p.projecttitle</h3>
                                    @p.shortDescription
                                    <div class="clearfix"></div>
                                    <div class="col-md-4" style="padding:0;position:static;display: inline-block;">
                                        @if (!p.hideViewDetailsLink)
                                        {
                                            <a href="@p.Url" class="view_d"> <div class="globalBtn" style="border:none">View Details</div></a>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                }

            }



        }
    </div>
</div>
@functions {
    public string RemoveSpecialChar(string name)
    {
        string result = System.Text.RegularExpressions.Regex.Replace(name, @"[^0-9a-zA-Z\._]", string.Empty);
        return result.ToLower();
    }
}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/scripts/projectFilter.js">

</script>
<link href="~/css/grid.css" rel="stylesheet" />
<script src="~/Scripts/modernizr.custom.js"></script>
<script src="~/Scripts/gridabt.js"></script>
<script>
    $(function () {
        Grid.init();
    });

    $('.container').delegate('input[type=checkbox]', 'change', function () {

        var $lis = $('#projectsFilter > li'),
            $checked = $('input:checked');
        if ($checked.length) {
            var selector = '';
            $($checked).each(function (index, element) {
                if (selector === '') {
                    selector += "[data-category~='" + element.id + "']";
                } else {
                    selector += ",[data-category~='" + element.id + "']";
                }

            });
            $lis.hide();
            console.log(selector);
            $('#projectsFilter > li').filter(selector).show();
        } else {
            $lis.show();
        }
    });
</script>
<style>
    /*
    .og-grid li {
        display: none;
    }*/

    .og-grid li.mix {
        display: none;
        margin-bottom: 44px;
        -webkit-transition: all 0s ease;
        -moz-transition: all 0s ease;
        -ms-transition: all 0s ease;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mixitup/2.1.11/jquery.mixitup.min.js"></script>
<script src="/scripts/jquery.mg-space.js"></script>
<script>
    $(".section:even").css("background-color", "#EFEEEE");
</script>
<script>
    $('.mg-space-init').mgSpace();

    $('.menu ul li:nth-child(4) a').addClass('active');
</script>

